doctype html
html 
    head 
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Custom Object Table
        
        if data && data.length
            .custom-objects-container
                a.update-button(href="/update-cobj") Add/Update this table
                .custom-object-card
                    h3 Custom Object Records
                    table.records-table
                        thead
                            tr
                                //- Dynamically create headers based on the first record's properties
                                if data[0] && data[0].properties
                                    each value, key in data[0].properties
                                        if !key.startsWith('hs_')
                                            th= key
                        tbody
                            each record in data
                                tr
                                    //- Display properties for each record
                                    if record.properties
                                        each value, key in record.properties
                                            if !key.startsWith('hs_')
                                                td= value

        else
            p.no-data No records found