doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Update Custom Object Form | Integrating With HubSpot I Practicum
        .custom-objects-container
            .custom-object-card
                form(action="/update-cobj" method="POST")
                    .form-group
                        label(for="name") Name:
                        input(type="text" id="name" name="name" required)
                    
                    .form-group
                        label(for="location") Country:
                        input(type="text" id="location" name="location" required)
                    
                    .form-group
                        label(for="population") Population:
                        input(type="number" id="population" name="population" required)
                    
                    .form-group
                        label(for="continent") Continent:
                        input(type="text" id="continent" name="continent" required)
                    
                    button.update-button(type="submit") Submit Contact
                a.update-button(href="/") Return to Homepage
